[Unit]
Description=Telegram alert when ibgateway.service gives up starting

[Service]
Type=oneshot
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/USER/ibc/notify_gateway_down.sh
